{% extends "_base.html" %}
{% block color %} #0d6efd {% endblock color %}
{% block title %} Test {% endblock title %}
{% block header %} {% include "includes/header.html" %} {% endblock header %}
{% block content %}
    {% if Transacciones %}
        <div class="table-responsive mt-3" style="overflow: hidden;">
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">Cobrado</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Metodo</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Comprobante</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaccion in Transacciones %}
                        <tr>
                            <td>{% if transaccion.estado  %}
                                Si
                                {% else %}
                                No
                                {% endif %}</td>
                            <td>{{ transaccion.cliente }}</td>
                            <td>{{ transaccion.metodo_DePago }}</td>
                            <td>{{ transaccion.monto }}</td>
                            <td><a href="{{ transaccion.transaccion_img.url }}" target="_blank">Comprobante</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    {% else %}
        No Transacciones found.
    {% endif %}


{% include "includes/data_table.html" %}

{% endblock content %}
