{% extends "_base.html" %}
{% block color %} #0d6efd {% endblock color %}
{% block title %} Test {% endblock title %}
{% block header %} {% include "includes/header.html" %} {% endblock header %}
{% block content %}
    {% if Transacciones %}
        <div class="table-responsive mt-3" >
            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">Cobrado</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Metodo</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Comprobante</th>
                        
                        <th scope="col">Ref</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for transaccion in Transacciones %}
                        <tr>
                            <td>{% if transaccion.estado  %}
                                Si
                                {% else %}
                                No
                                {% endif %}</td>
                            <td>{{ transaccion.cliente }}</td>
                            <td>{{ transaccion.metodo_DePago }}</td>
                            <td>{{ transaccion.monto }}</td>
                            <td>
                                {% if transaccion.transaccion_img and transaccion.transaccion_img.url %}
                                    <a href="{{ transaccion.transaccion_img.url }}" target="_blank">
                                        <img src="{{ transaccion.transaccion_img.url }}" alt="{{ transaccion.transaccion_img.url }}" style="max-width: auto;height: 50px;">
                                    </a>
                                {% else %}
                                    No hay imagen
                                {% endif %}
                            </td>
                            
                                <td>
                                    {% if transaccion.ref %}
                                    {{ transaccion.ref }}
                                    {% else %}
                                    Sin Ref.
                                    {% endif %}

                                </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    {% else %}
        No Transacciones found.
    {% endif %}

    {% include "includes/data_table.html" %}


{% endblock content %}
