<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  
  {% include "home/components/header.html" %}
  <main class="px-3">
    <h1>Teste teste.</h1>
    <p class="lead">
      Teste teste Teste teste Teste teste Teste teste Teste teste Teste teste Teste teste Teste teste Teste teste
      
    </p>
    <p class="lead">
      <a href="https://wa.me/595986749757" class="btn btn-lg btn-light fw-bold border-white bg-white"
        >Solicita Ya</a
      >
    </p>
  </main>

  {% include "home/components/footer.html" %}
</div>